{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Modifier mes informations</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">Modifer</button>

    {{ form_end(form) }}
</div>


{% endblock %}