{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-3">Bienvenue sur AirBnTwig</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location !</p>
        <hr class="my-4">
        <p>Choisissez maintenant où passer les prochaines nuits !</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>
</div>


{% endblock %}
